html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#bottomPanel {
  display:none;
    width: 14em;
}
#appLayout {
    height: 95%;
}
#orgFeatures {
    visibility:hidden;
}
h2,h3,h4 {
    margin: 0;
    padding:0px;
    text-align: center;
   
}

h2 {
    padding:5px;
}
.select-container{
  position: absolute;
  top: 20px;
  z-index:10;
  left:60px;
  font-size: small;
}
.select-list{
  font-size: "12px";
}
.panel-container {
    position: relative;
    width: 100%;
    height: 95%;
}

.panel-side {
    padding: 12px;
    box-sizing: border-box;
    width: 300px;
    height: 40%;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 60;
}
.dynamic-panel-side {
    padding: 12px;
    box-sizing: border-box;
    width: 300px;
    height: 32%;
    top: 12px;
    right: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 60;
}
.panel-side h2, .dynamic-panel-side h2 {
    padding: 0 20px;
    margin: 20px 0;
}
.panel-side span, .dynamic-panel-side span.smallLabel{
    font-size: 10px;
    padding: 20px;

}
.dynamic-panel-side h3 {
    color: orange;
}

.panel-side ul, .dynamic-panel-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel-side li {
    padding: 5px 20px;
}

.panel-result {
    cursor: pointer;
    margin: 2px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.panel-result:hover,
.panel-result:focus {
    color: orange;
    background-color: rgba(0, 0, 0, 0.75);
} 

/* Styles for collapsible button widget for Lesson Notes */
.contentDiv {
    width:100%;
    text-align: left;
    display:none;
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;

    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    width:100%
}

.active, .collapsible:hover, .collapsibleTable:hover{
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-size: 14px;
    text-align: left;
    width:98%;

}